<a href="https://colab.research.google.com/github/hashPhoeNiX/ColabNotebooks/blob/master/Shopify_Internship_Assessment_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/Personal')

**Question 1:** Given some sample data, write a program to answer the following: click here to access the required data set

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

1. Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
1. What metric would you report for this dataset?
1. What is its value?

In [ ]:
df = pd.read_csv('2019 Winter Data Science Intern Challenge Data Set.csv', parse_dates=['created_at'])
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 04:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 04:35:11

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5000 non-null   int64
 1   shop_id         5000 non-null   int64
 2   user_id         5000 non-null   int64
 3   order_amount    5000 non-null   int64
 4   total_items     5000 non-null   int64
 5   payment_method  5000 non-null   object
 6   created_at      5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 273.6+ KB

In [ ]:
# top 5 users with most purchase

top_shops = df.iloc[:, np.r_[1, 2:5]].groupby(['shop_id', 'user_id']).sum().sort_values('order_amount', ascending=False).reset_index().head(20)
top_shops.head()

   shop_id  user_id  order_amount  total_items
0       42      607      11968000        34000
1       78      878        154350            6
2       78      834        102900            4
3       78      818         77175            3
4       78      775         77175            3

In [ ]:
df[(df['shop_id'] == 42) & (df['order_amount'] == df['order_amount'].max())].describe()

          order_id  shop_id  user_id  order_amount  total_items
count    17.000000     17.0     17.0          17.0         17.0
mean   2336.235294     42.0    607.0      704000.0       2000.0
std    1603.584872      0.0      0.0           0.0          0.0
min      16.000000     42.0    607.0      704000.0       2000.0
25%    1363.000000     42.0    607.0      704000.0       2000.0
50%    2154.000000     42.0    607.0      704000.0       2000.0
75%    3333.000000     42.0    607.0      704000.0       2000.0
max    4883.000000     42.0    607.0      704000.0       2000.0

1. The calculation is wrong because it's dividing the sum of the total order amount over the total count of total_items enteries in the table, rather than the sum of the total_items which would give a more accurate count of the total items bought from the shops. This is demonstrated below:

In [ ]:
# Wrong AOV calculation result
df['order_amount'].sum()/df['total_items'].count()

3145.128

2. The metric I would report to calculate the Average Order Value (AOV) is: the sum of total revenue(order number) over the sum of the total items purchased.

In [ ]:
# Correct way of calculating the AOV

total_revenue = df['order_amount'].sum()
total_items = df['total_items'].sum()

AOV = total_revenue/total_items

3. The correct AOV is 357.92

In [ ]:
print(f"Average Order Value (AOV): {AOV:.2f}")

Average Order Value (AOV): 357.92

## Question 2:

1. How many orders were shipped by Speedy Express in total?

> SELECT count(distinct OrderID) <br>
FROM Orders o <br>
JOIN Shippers s ON s.ShipperID = o.ShipperID <br>
WHERE ShipperName = 'Speedy Express' <br>

**ANS:** 54 orders were by Speedy Express


2. What is the last name of the employee with the most orders?

> SELECT o.EmployeeID, e.LastName, COUNT(DISTINCT OrderID) AS num_orders <br>
FROM Orders o <br>
JOIN Employees e ON e.EmployeeID = o.EmployeeID <br>
GROUP BY 1,2 <br>
ORDER BY num_orders DESC <br>
LIMIT 1 <br>

**ANS:** The last name of the employee with the most orders is Peacock

3. What product was ordered the most by customers in Germany?

> SELECT p.ProductName, od.ProductID, SUM(od.Quantity) as num_orders <br>
FROM Orders o <br>
JOIN OrderDetails od on od.OrderID = o.OrderID <br>
JOIN Products p on p.ProductID = od.ProductID <br>
JOIN Customers c ON c.CustomerID = o.CustomerID <br>
WHERE c.Country = 'Germany' <br>
GROUP BY 1,2 <br>
ORDER BY num_orders DESC <br>
LIMIT 1

**ANS:** The product Gorgonzola Telino was ordered the most by customers in Germany.